
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.container-NHB {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 0rem;
  width: 100%;
  overflow: hidden;

  .auto-group-fnof-NAh {
    flex-shrink: 0;
    width: 100%;
    height: 184.8rem;
    position: relative;

    .screen-hero-section-GQV {
      padding: 0.022rem 0.1rem 0rem 12rem;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      background-color: #191919;
      box-sizing: border-box;
      width: 192rem;
      height: 96.0222rem;

      .textwrapper-twf {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 33.928rem 5.7rem 33.972rem 0rem;
        width: 81.6rem;
        height: calc(100% - 67.9rem);

        .textwrap-zE1 {
          flex-direction: column;
          margin-bottom: 6.4rem;
          width: 100%;
          height: 14rem;
          overflow: hidden;
          position: relative;
          display: flex;

          .headingwrapper-vNZ {
            font-size: 7.2rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #f3f3f3;
            margin-bottom: 2.4rem;
            width: 100%;
            height: 8.7rem;
            position: relative;
            font-family: Inter, 'Source Sans Pro';
            overflow: hidden;
            letter-spacing: -0.288rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .paragraph-K3K {
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.096rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .buttonwrap-dph {
          position: relative;
          width: 32rem;
          height: 7.7rem;
          overflow: hidden;

          .ctabutton-BLR {
            height: 100%;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            overflow: hidden;
            color: #0d0d0d;
            white-space: nowrap;
            width: 100%;
            letter-spacing: -0.096rem;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            position: relative;
            text-align: center;
            font-size: 2.4rem;
            justify-content: center;
            border-radius: 1rem;
          }
        }
      }
      .rectangle-1-Fr5 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 92.6rem;
        height: 96rem;
      }
    }
    .screen-feature-list-with-headlines-NQu {
      left: 0;
      top: 96rem;
      height: 88.8rem;
      position: absolute;
      width: 192rem;
      overflow: hidden;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 12rem;

      .heading-ggV {
        margin-bottom: 6.1rem;
        width: 106rem;
        overflow: hidden;
        position: relative;

        .headingwrapper-S9s {
          margin-bottom: 2.4rem;
          width: 100%;
          height: 8.7rem;
          overflow: hidden;
          font-size: 7.2rem;
          color: #191919;
          white-space: nowrap;
          position: relative;
          font-weight: 900;
          line-height: 1.2125;
          letter-spacing: -0.288rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .paragraph-i7P {
          max-width: 78.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: -0.096rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .wrapper-Dpq {
        height: 33rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 100%;

        .featurelist-NBw {
          flex-shrink: 0;
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: #f7f7f7;
          margin-right: 0.4rem;
          box-sizing: border-box;
          padding: 2.4rem 3.5rem 5.2rem 2.4rem;
          overflow: hidden;
          border-radius: 1rem;

          .heading-suP {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 4rem;
            line-height: 1.2125;
            color: #000000;
            font-weight: 900;
            letter-spacing: -0.16rem;
          }
          .paragraph-bKb {
            line-height: 1.2125;
            letter-spacing: -0.096rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 35.8rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .featurelist-6XF {
          box-sizing: border-box;
          padding: 2.4rem 2.4rem 2.3rem 2.4rem;
          width: 41.7rem;
          border-radius: 1rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          flex-shrink: 0;

          .heading-pTF {
            font-size: 4rem;
            font-weight: 900;
            line-height: 1.2125;
            letter-spacing: -0.16rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.1rem;
            max-width: 24.9rem;
          }
          .paragraph-Ye9 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 33.9rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.096rem;
          }
        }
        .auto-group-lbux-ruj {
          box-sizing: border-box;
          padding-left: 0.4rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .featurelist-c8D {
            box-sizing: border-box;
            padding: 2.4rem 2.8rem 5.2rem 2.4rem;
            flex-direction: column;
            background-color: #f7f7f7;
            margin-right: 0.4rem;
            position: relative;
            align-items: center;
            display: flex;
            border-radius: 1rem;
            flex-shrink: 0;
            overflow: hidden;

            .heading-LK7 {
              margin: 0rem 7.4rem 1.1rem 0rem;
              font-size: 4rem;
              font-weight: 900;
              line-height: 1.2125;
              flex-shrink: 0;
              letter-spacing: -0.16rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .paragraph-SN9 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 36.5rem;
            }
          }
          .featurelist-wZo {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.4rem 2.4rem 2.3rem 2.4rem;
            width: 41.7rem;
            overflow: hidden;
            position: relative;
            background-color: #f7f7f7;
            border-radius: 1rem;

            .heading-eUD {
              margin-bottom: 1.1rem;
              max-width: 25.3rem;
              font-size: 4rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.16rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .paragraph-kn9 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              max-width: 33.2rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
            }
          }
        }
      }
    }
  }
  .screen-feature-list-with-headlines-EBX {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12rem;
    align-items: center;
    background-color: #ffffff;

    .heading-xdK {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 4.8rem;
      width: 100%;
      height: 14rem;
      overflow: hidden;

      .headingwrapper-hL1 {
        overflow: hidden;
        position: relative;
        font-size: 7.2rem;
        font-weight: 900;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        width: 106rem;
        height: 8.7rem;
        line-height: 1.2125;
        letter-spacing: -0.288rem;
        color: #191919;
        white-space: nowrap;
      }
      .paragraph-a8u {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        letter-spacing: -0.096rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .wrapper-uS5 {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 26.2rem;

      .featurelist-rcD {
        width: 41.7rem;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 2.3rem 2.4rem;
        height: 100%;
        background-color: #f7f7f7;
        border-radius: 1rem;
        flex-shrink: 0;

        .heading-BeV {
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 1rem;
          max-width: 24.9rem;
          font-size: 4rem;
          font-weight: 900;
          line-height: 1.2125;
          letter-spacing: -0.16rem;
          color: #000000;
        }
        .paragraph-7o3 {
          max-width: 29.9rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: -0.096rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-xe8d-cUu {
        display: flex;
        column-gap: 0.4rem;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 0.4rem;
        height: 100%;

        .featurelist-Lvh {
          box-sizing: border-box;
          width: 41.7rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          border-radius: 1rem;
          padding: 2.4rem 2.4rem 2.3rem 2.4rem;
          align-items: center;
          background-color: #f7f7f7;
          flex-shrink: 0;

          .heading-57b {
            margin: 0rem 4.9rem 1.1rem 0rem;
            letter-spacing: -0.16rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
          }
          .paragraph-ZoT {
            font-size: 2.4rem;
            line-height: 1.2125;
            flex-shrink: 0;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 3.5rem;
            max-width: 33.4rem;
            font-weight: 400;
            letter-spacing: -0.096rem;
          }
        }
        .featurelist-frV {
          border-radius: 1rem;
          flex-shrink: 0;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 2.4rem 3.6rem 2.3rem 2.4rem;
          background-color: #f7f7f7;

          .heading-CrR {
            margin-bottom: 1.1rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
            max-width: 20.8rem;
            font-size: 4rem;
            letter-spacing: -0.16rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .paragraph-w3K {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.096rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 35.7rem;
          }
        }
        .featurelist-quP {
          flex-direction: column;
          background-color: #f7f7f7;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 2.4rem 2.3rem 2.4rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;
          border-radius: 1rem;

          .heading-z1b {
            letter-spacing: -0.16rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 2.1rem 1.1rem 0rem;
            font-size: 4rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
            max-width: 34.8rem;
          }
          .paragraph-hRo {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 36.9rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.096rem;
          }
        }
      }
    }
  }
  .screen-feedback-list-zvh {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 12rem;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;

    .textwrapper-9Yh {
      height: 12.8rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 4.8rem;
      width: 81.6rem;

      .heading-tWH {
        font-weight: 900;
        line-height: 1.2125;
        letter-spacing: -0.288rem;
        color: #191919;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.1rem;
        font-size: 7.2rem;
      }
      .paragraph-Rm7 {
        font-weight: 400;
        line-height: 1.2125;
        letter-spacing: -0.096rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
      }
    }
    .wrapper-Aih {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;

      .auto-group-k7vu-89j {
        width: 100%;
        height: 18.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.2rem;

        .auto-group-hfbj-EyT {
          box-sizing: border-box;
          padding-right: 1.2rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .card-b3K {
            border-radius: 2rem;
            flex-shrink: 0;
            display: flex;
            box-sizing: border-box;
            padding: 1.6rem;
            height: 13.8rem;
            overflow: hidden;
            position: relative;
            align-items: center;
            background-color: #f7f7f7;
            margin-right: 1.2rem;

            .photowrapper-Kzu {
              font-weight: 900;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              overflow: hidden;
              font-size: 1rem;
              background-color: #000000;
              position: relative;
              letter-spacing: -0.04rem;
              height: 6.4rem;
              justify-content: center;
              border-radius: 6rem;
              margin: 0rem 1.6rem 4.2rem 0rem;
              width: 6.4rem;
              display: flex;
              flex-shrink: 0;
            }
            .infowrapper-afw {
              padding-top: 0.6rem;
              width: 44rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              box-sizing: border-box;

              .fullname-7vm {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.3rem;
                font-size: 2rem;
                font-weight: 900;
                line-height: 1.2125;
                letter-spacing: -0.08rem;
              }
              .feedback-Si9 {
                letter-spacing: -0.08rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                max-width: 42.4rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
              }
            }
          }
          .card-YWH {
            padding: 1.6rem;
            overflow: hidden;
            background-color: #f7f7f7;
            border-radius: 2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 16.2rem;
            position: relative;
            display: flex;
            align-items: flex-start;

            .photowrapper-621 {
              line-height: 1.2125;
              justify-content: center;
              margin-right: 1.6rem;
              width: 6.4rem;
              height: 6.4rem;
              letter-spacing: -0.04rem;
              align-items: center;
              display: flex;
              background-color: #000000;
              font-size: 1rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 6rem;
              flex-shrink: 0;
              overflow: hidden;
              position: relative;
              font-weight: 900;
            }
            .infowrapper-ZAV {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 0.6rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              display: flex;

              .fullname-Vpq {
                font-size: 2rem;
                line-height: 1.2125;
                letter-spacing: -0.08rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                color: #000000;
                white-space: nowrap;
                font-weight: 900;
              }
              .feedback-2Jy {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                letter-spacing: -0.08rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 44rem;
              }
            }
          }
        }
        .card-LKf {
          background-color: #f7f7f7;
          border-radius: 2rem;
          flex-shrink: 0;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: flex-start;
          box-sizing: border-box;
          padding: 1.6rem;
          position: relative;

          .photowrapper-VCZ {
            width: 6.4rem;
            height: 6.4rem;
            letter-spacing: -0.04rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 1.6rem;
            font-size: 1rem;
            color: #000000;
            white-space: nowrap;
            font-weight: 900;
            display: flex;
            background-color: #000000;
            border-radius: 6rem;
            overflow: hidden;
            position: relative;
            line-height: 1.2125;
            align-items: center;
            justify-content: center;
          }
          .infowrapper-ydX {
            width: 44rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.6rem;

            .fullname-XQ9 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.3rem;
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.08rem;
              color: #000000;
            }
            .feedback-sD7 {
              max-width: 43.8rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.08rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-jzgr-NvZ {
        margin: 0 27.4rem;
        width: calc(100% - 54.8rem);
        height: 18.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-KL1 {
          margin-right: 1.2rem;
          height: 100%;
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: flex-start;
          background-color: #f7f7f7;

          .photowrapper-sMX {
            width: 6.4rem;
            align-items: center;
            justify-content: center;
            margin-right: 1.6rem;
            height: 6.4rem;
            overflow: hidden;
            position: relative;
            font-size: 1rem;
            letter-spacing: -0.04rem;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
            background-color: #000000;
            border-radius: 6rem;
          }
          .infowrapper-9K3 {
            box-sizing: border-box;
            padding-top: 0.6rem;
            width: 44.8rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .fullname-gZs {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.3rem;
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.08rem;
              color: #000000;
            }
            .feedback-RGZ {
              max-width: 42.9rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.08rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .card-jo3 {
          padding: 1.6rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2rem;

          .photowrapper-VXK {
            font-size: 1rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 900;
            letter-spacing: -0.04rem;
            display: flex;
            margin-right: 1.6rem;
            width: 6.4rem;
            height: 6.4rem;
            position: relative;
            color: #000000;
            background-color: #000000;
            overflow: hidden;
            line-height: 1.2125;
            align-items: center;
            justify-content: center;
            border-radius: 6rem;
            flex-shrink: 0;
          }
          .infowrapper-b4Z {
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.6rem;
            width: 44.8rem;
            height: 100%;

            .fullname-jwT {
              margin-bottom: 0.3rem;
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.08rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .feedback-5kR {
              max-width: 44.7rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.08rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .auto-group-knud-ahB {
    height: 235rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .screen-card-list-with-headline-Kuf {
      padding: 12rem 12rem 12rem 12rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 192rem;
      height: 67.7rem;
      overflow: hidden;

      .textwrapper-EWq {
        margin-bottom: 4.8rem;
        width: 81.6rem;
        height: 12.8rem;
        overflow: hidden;
        position: relative;

        .heading-mWm {
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 7.2rem;
          font-weight: 900;
          line-height: 1.2125;
          letter-spacing: -0.288rem;
          color: #191919;
          font-family: Inter, 'Source Sans Pro';
        }
        .paragraph-WDT {
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: -0.096rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .wrapper-Ev9 {
        height: 26.1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 1.2rem;
        align-items: center;
        width: 100%;

        .recommendedcard-zPX {
          box-sizing: border-box;
          padding: 3.2rem 3.2rem 3.1rem 3.2rem;
          width: 55.2rem;
          height: 100%;
          position: relative;
          border-radius: 2rem;
          overflow: hidden;
          background-color: #f7f7f7;
          flex-shrink: 0;

          .infowrapper-KRo {
            width: 100%;
            height: 8.9rem;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 6rem;

            .heading-U3o {
              flex-shrink: 0;
              font-size: 4rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.16rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.1rem;
            }
            .paragraph-znq {
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
          .price-Xnm {
            font-size: 4rem;
            font-weight: 900;
            line-height: 1.2125;
            letter-spacing: -0.16rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .recommendedcard-ZzM {
          box-sizing: border-box;
          height: 100%;
          background-color: #f7f7f7;
          padding: 3.2rem 3.2rem 3.1rem 3.2rem;
          width: 55.2rem;
          overflow: hidden;
          position: relative;
          border-radius: 2rem;
          flex-shrink: 0;

          .infowrapper-u2d {
            margin-bottom: 6rem;
            width: 100%;
            height: 8.9rem;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;

            .heading-3uX {
              font-weight: 900;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              font-size: 4rem;
              line-height: 1.2125;
              letter-spacing: -0.16rem;
              white-space: nowrap;
            }
            .paragraph-n6R {
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
          .price-ZFb {
            line-height: 1.2125;
            letter-spacing: -0.16rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 4rem;
            font-weight: 900;
          }
        }
        .recommendedcard-5Uq {
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-direction: column;
          background-color: #f7f7f7;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 55.2rem;
          display: flex;
          border-radius: 2rem;
          padding: 3.2rem 3.2rem 3.1rem 3.2rem;
          align-items: center;

          .infowrapper-CZT {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 6rem;
            width: 100%;
            height: 8.9rem;
            overflow: hidden;
            position: relative;
            display: flex;

            .heading-Xbj {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              font-size: 4rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.16rem;
              color: #000000;
            }
            .paragraph-22h {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .price-iRK {
            margin-right: 8.7rem;
            line-height: 1.2125;
            letter-spacing: -0.16rem;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 900;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .screen-faq-CrH {
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 12rem;
      width: 192rem;
      position: absolute;
      overflow: hidden;
      align-items: center;
      height: 167.3rem;
      left: 0;
      top: 67.7rem;
      display: flex;
      flex-direction: column;

      .textwrapper-ipd {
        width: 100%;
        height: 8.7rem;
        overflow: hidden;
        font-weight: 900;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 4.8rem;
        position: relative;
        font-size: 7.2rem;
        letter-spacing: -0.288rem;
        color: #191919;
        flex-shrink: 0;
      }
      .wrapper-DmP {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        row-gap: 1.2rem;

        .cardwrapper-AAq {
          padding-bottom: 3.1rem;
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          position: relative;
          border: solid 0.2rem #f7f7f7;
          border-radius: 2rem;
          flex-shrink: 0;

          .header-5ob {
            box-sizing: border-box;
            padding: 3.2rem;
            width: 100%;
            height: 12.8rem;
            position: relative;
            margin-bottom: 3.2rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: #f7f7f7;
            border-radius: 2rem 2rem 0 0;
            flex-shrink: 0;

            .frame-31-zvZ {
              height: calc(100% - 1.8rem);
              font-size: 3.8rem;
              line-height: 1.2125;
              letter-spacing: -0.152rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              width: 155.2rem;
              overflow: hidden;
              position: relative;
              font-weight: 900;
              color: #000000;
              white-space: nowrap;
              margin: 0.9rem 0;
            }
            .photowrapper-Hem {
              background-color: #000000;
              flex-shrink: 0;
              text-align: center;
              font-weight: 900;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              width: 6.4rem;
              letter-spacing: -0.12rem;
              color: #ffffff;
              white-space: nowrap;
              position: relative;
              font-size: 3rem;
              height: 100%;
              overflow: hidden;
              justify-content: center;
              border-radius: 6rem;
            }
          }
          .answerwrap-vxd {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            height: 3rem;
            overflow: hidden;
            white-space: nowrap;
            width: 91.3rem;
            color: #000000;
            letter-spacing: -0.096rem;
            display: flex;
            justify-content: center;
            margin-left: 3.2rem;
            font-weight: 400;
            align-items: center;
            position: relative;
            font-size: 2.4rem;
          }
        }
        .cardwrapper-Bdf {
          width: 100%;
          overflow: hidden;
          display: flex;
          border: solid 0.2rem #f7f7f7;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.1rem;
          position: relative;
          flex-direction: column;
          border-radius: 2rem;

          .header-idb {
            border-radius: 2rem 2rem 0 0;
            box-sizing: border-box;
            padding: 3.2rem;
            height: 12.8rem;
            position: relative;
            display: flex;
            align-items: center;
            background-color: #f7f7f7;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 100%;
            overflow: hidden;

            .frame-31-3vm {
              position: relative;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 155.2rem;
              height: calc(100% - 1.8rem);
              overflow: hidden;
              font-size: 3.8rem;
              font-weight: 900;
              line-height: 1.2125;
              letter-spacing: -0.152rem;
              white-space: nowrap;
              margin: 0.9rem 0;
              flex-shrink: 0;
            }
            .photowrapper-x29 {
              height: 100%;
              line-height: 1.2125;
              flex-shrink: 0;
              font-weight: 900;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              justify-content: center;
              width: 6.4rem;
              overflow: hidden;
              text-align: center;
              background-color: #000000;
              border-radius: 6rem;
              letter-spacing: -0.12rem;
              white-space: nowrap;
              align-items: center;
              position: relative;
              font-size: 3rem;
              display: flex;
            }
          }
          .answerwrap-pa9 {
            margin-left: 3.2rem;
            width: 117.2rem;
            height: 5.9rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .answer-mEV {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              max-width: 117.2rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
            }
          }
        }
        .cardwrapper-g6Z {
          box-sizing: border-box;
          padding-bottom: 3.1rem;
          width: 100%;
          position: relative;
          border: solid 0.2rem #f7f7f7;
          flex-shrink: 0;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          border-radius: 2rem;

          .header-dGh {
            height: 12.8rem;
            align-items: center;
            background-color: #f7f7f7;
            border-radius: 2rem 2rem 0 0;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            padding: 3.2rem;
            width: 100%;
            display: flex;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;

            .frame-31-Zg9 {
              margin: 0.9rem 0;
              width: 155.2rem;
              height: calc(100% - 1.8rem);
              overflow: hidden;
              position: relative;
              font-size: 3.8rem;
              letter-spacing: -0.152rem;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 900;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .photowrapper-GaZ {
              height: 100%;
              line-height: 1.2125;
              white-space: nowrap;
              display: flex;
              border-radius: 6rem;
              overflow: hidden;
              font-weight: 900;
              letter-spacing: -0.12rem;
              align-items: center;
              justify-content: center;
              width: 6.4rem;
              position: relative;
              text-align: center;
              font-family: Inter, 'Source Sans Pro';
              background-color: #000000;
              flex-shrink: 0;
              font-size: 3rem;
              color: #ffffff;
            }
          }
          .answerwrap-kkd {
            flex-shrink: 0;
            margin-left: 3.2rem;
            width: 120rem;
            height: 5.9rem;
            overflow: hidden;
            position: relative;

            .answer-hfs {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              max-width: 120rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
            }
          }
        }
        .cardwrapper-D8R {
          overflow: hidden;
          display: flex;
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          flex-direction: column;
          border: solid 0.2rem #f7f7f7;
          padding-bottom: 3.1rem;
          position: relative;

          .header-m9w {
            background-color: #f7f7f7;
            border-radius: 2rem 2rem 0 0;
            flex-shrink: 0;
            padding: 3.2rem;
            overflow: hidden;
            align-items: center;
            height: 12.8rem;
            position: relative;
            display: flex;
            margin-bottom: 3.2rem;
            box-sizing: border-box;
            width: 100%;

            .frame-31-He5 {
              flex-shrink: 0;
              width: 155.2rem;
              height: calc(100% - 1.8rem);
              position: relative;
              font-weight: 900;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.9rem 0;
              overflow: hidden;
              font-size: 3.8rem;
              line-height: 1.2125;
              letter-spacing: -0.152rem;
              white-space: nowrap;
            }
            .photowrapper-zYV {
              justify-content: center;
              text-align: center;
              font-weight: 900;
              color: #ffffff;
              background-color: #000000;
              border-radius: 6rem;
              overflow: hidden;
              letter-spacing: -0.12rem;
              font-family: Inter, 'Source Sans Pro';
              position: relative;
              font-size: 3rem;
              white-space: nowrap;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 6.4rem;
              height: 100%;
              line-height: 1.2125;
            }
          }
          .answerwrap-fuX {
            margin-left: 3.2rem;
            width: 114.9rem;
            height: 5.9rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .answer-2EH {
              max-width: 114.9rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .cardwrapper-KDP {
          box-sizing: border-box;
          position: relative;
          display: flex;
          border: solid 0.2rem #f7f7f7;
          border-radius: 2rem;
          flex-shrink: 0;
          padding-bottom: 3.1rem;
          width: 100%;
          overflow: hidden;
          flex-direction: column;

          .header-4wf {
            margin-bottom: 3.2rem;
            padding: 3.2rem;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 2rem 2rem 0 0;
            box-sizing: border-box;
            width: 100%;
            height: 12.8rem;
            background-color: #f7f7f7;
            flex-shrink: 0;

            .frame-31-oPT {
              letter-spacing: -0.152rem;
              color: #000000;
              flex-shrink: 0;
              margin: 0.9rem 0;
              font-size: 3.8rem;
              overflow: hidden;
              position: relative;
              font-weight: 900;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 155.2rem;
              height: calc(100% - 1.8rem);
            }
            .photowrapper-79F {
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              font-size: 3rem;
              font-weight: 900;
              letter-spacing: -0.12rem;
              color: #ffffff;
              width: 6.4rem;
              align-items: center;
              flex-shrink: 0;
              overflow: hidden;
              line-height: 1.2125;
              white-space: nowrap;
              background-color: #000000;
              border-radius: 6rem;
              height: 100%;
              position: relative;
              text-align: center;
              justify-content: center;
            }
          }
          .answerwrap-ySM {
            margin-left: 3.2rem;
            width: 118rem;
            height: 8.8rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .answer-7oT {
              font-family: Inter, 'Source Sans Pro';
              max-width: 118rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
            }
          }
        }
      }
    }
  }
  .screen-contacts-with-form-owB {
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 12rem;
    height: 104.1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-shrink: 0;

    .textwrapper-wGh {
      flex-shrink: 0;
      margin: 22.9rem 4.8rem 22.9rem 0rem;
      width: 81.6rem;
      height: calc(100% - 45.8rem);
      overflow: hidden;
      position: relative;

      .headingwrapper-TF3 {
        color: #191919;
        height: 8.7rem;
        overflow: hidden;
        position: relative;
        font-weight: 900;
        letter-spacing: -0.288rem;
        white-space: nowrap;
        margin-bottom: 2.4rem;
        width: 100%;
        font-size: 7.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .wrapper-kzq {
        width: 100%;
        height: 9.1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 6.4rem;

        .auto-group-6ghk-VhX {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 2.4rem;
          height: 100%;

          .contentwrapper-Ef7 {
            margin-right: 2.4rem;
            width: 25.6rem;
            height: 6.2rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .contacttype-NWR {
              margin-bottom: 0.3rem;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .contactdata-uWM {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .contentwrapper-SmB {
            position: relative;
            flex-shrink: 0;
            width: 25.6rem;
            height: 6.2rem;
            overflow: hidden;

            .contacttype-na9 {
              font-weight: 700;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.3rem;
              font-size: 2.4rem;
            }
            .contactdata-vRT {
              font-weight: 400;
              line-height: 1.2125;
              letter-spacing: -0.096rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2.4rem;
            }
          }
        }
        .contentwrapper-Fid {
          width: 25.6rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .contacttype-Ctm {
            letter-spacing: -0.096rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.3rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .contactdata-wbT {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 25.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.096rem;
          }
        }
      }
      .buttonwrap-ULV {
        position: relative;
        width: 40.8rem;
        height: 7.7rem;
        overflow: hidden;

        .ctabutton-2N1 {
          align-items: center;
          height: 100%;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          position: relative;
          color: #ffffff;
          line-height: 1.2125;
          letter-spacing: -0.096rem;
          white-space: nowrap;
          background-color: #191919;
          font-size: 2.4rem;
          font-weight: 700;
          border-radius: 1rem;
        }
      }
    }
    .formwrapper-XJm {
      height: 100%;
      overflow: hidden;
      position: relative;
      row-gap: 2.4rem;
      align-items: center;
      background-color: #f7f7f7;
      box-sizing: border-box;
      width: 81.6rem;
      display: flex;
      flex-direction: column;
      border-radius: 2rem;
      flex-shrink: 0;
      padding: 4.9rem 4.8rem;

      .headingwrapper-dMo {
        line-height: 1.2125;
        letter-spacing: -0.192rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.8rem;
        position: relative;
        font-weight: 900;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;
        font-size: 4.8rem;
      }
      .colwrapper-w7b {
        flex-shrink: 0;
        width: 100%;
        height: 8.8rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;

        .field-wrapper-t2q {
          width: 35.5rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 1rem;

          .frame-26-2eq {
            overflow: hidden;
            font-size: 1.6rem;
            font-weight: 500;
            display: flex;
            height: 2rem;
            margin-bottom: 0.8rem;
            color: #000000;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            width: 5rem;
            position: relative;
            line-height: 1.2125;
            letter-spacing: 0.128rem;
          }
          .smallfield-XLh {
            white-space: nowrap;
            border-radius: 1rem;
            width: 100%;
            overflow: hidden;
            color: #000000;
            line-height: 1.2125;
            box-sizing: border-box;
            font-size: 2rem;
            font-weight: 400;
            position: relative;
            background-color: #ffffff;
            padding: 1.8rem 2.4rem 1.7rem 2.4rem;
            letter-spacing: -0.08rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .field-wrapper-p4u {
          width: 35.5rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .frame-27-yCh {
            line-height: 1.2125;
            color: #000000;
            width: 7.8rem;
            height: 2rem;
            position: relative;
            font-size: 1.6rem;
            justify-content: center;
            margin-bottom: 0.8rem;
            overflow: hidden;
            font-weight: 500;
            letter-spacing: 0.128rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
          }
          .smallfield-fbK {
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 400;
            white-space: nowrap;
            font-size: 2rem;
            line-height: 1.2125;
            letter-spacing: -0.08rem;
            font-family: Inter, 'Source Sans Pro';
            background-color: #ffffff;
            border-radius: 1rem;
            padding: 1.8rem 2.4rem 1.7rem 2.4rem;
            width: 100%;
            position: relative;
            color: #000000;
          }
        }
      }
      .frame-2-8zh {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .frame-28-hH7 {
          letter-spacing: 0.128rem;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-weight: 500;
          line-height: 1.2125;
          white-space: nowrap;
          justify-content: center;
          width: 3.7rem;
          height: 2rem;
          overflow: hidden;
          position: relative;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
        }
        .smallfield-zX7 {
          color: #000000;
          flex-shrink: 0;
          padding: 1.8rem 2.4rem 1.7rem 2.4rem;
          position: relative;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          background-color: #ffffff;
          border-radius: 1rem;
          width: 100%;
          font-size: 2rem;
          font-weight: 400;
          box-sizing: border-box;
          overflow: hidden;
          letter-spacing: -0.08rem;
          white-space: nowrap;
        }
      }
      .frame-3-52m {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;

        .frame-29-dKB {
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          margin-bottom: 0.8rem;
          justify-content: center;
          flex-shrink: 0;
          position: relative;
          font-weight: 500;
          line-height: 1.2125;
          letter-spacing: 0.128rem;
          display: flex;
          width: 7.3rem;
          height: 2rem;
          overflow: hidden;
          color: #000000;
        }
        .smallfield-vJH {
          padding: 1.8rem 2.4rem 1.7rem 2.4rem;
          white-space: nowrap;
          flex-shrink: 0;
          border-radius: 1rem;
          position: relative;
          color: #000000;
          background-color: #ffffff;
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: -0.08rem;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          width: 100%;
          overflow: hidden;
          line-height: 1.2125;
        }
      }
      .frame-4-ocy {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .frame-30-MeV {
          justify-content: center;
          height: 2rem;
          white-space: nowrap;
          margin-bottom: 0.8rem;
          position: relative;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.128rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: center;
          width: 10.2rem;
          overflow: hidden;
          flex-shrink: 0;
          line-height: 1.2125;
          color: #000000;
        }
        .bigfield-rbF {
          width: 100%;
          height: 15.6rem;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .ctabutton-zSZ {
        height: 7.7rem;
        text-align: center;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        width: 100%;
        font-size: 2.4rem;
        color: #ffffff;
        flex-shrink: 0;
        letter-spacing: -0.096rem;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        background-color: #000000;
      }
    }
  }
  .chesneylogo-removebg-preview-1-FtH {
    flex-shrink: 0;
    width: 66.6rem;
    height: 37.5rem;
    object-fit: cover;
    vertical-align: top;
  }
}
