
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.container-NHB {
  box-sizing: border-box;
  padding-bottom: 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.container-NHB .auto-group-fnof-NAh {
  width: 100%;
  height: 184.8rem;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV {
  box-sizing: border-box;
  padding: 0.022rem 0.1rem 0rem 12rem;
  width: 192rem;
  height: 96.0222rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #191919;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .textwrapper-twf {
  margin: 33.928rem 5.7rem 33.972rem 0rem;
  width: 81.6rem;
  height: calc(100% - 67.9rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .textwrapper-twf .textwrap-zE1 {
  margin-bottom: 6.4rem;
  width: 100%;
  height: 14rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .textwrapper-twf .textwrap-zE1 .headingwrapper-vNZ {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 8.7rem;
  overflow: hidden;
  position: relative;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #f3f3f3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .textwrapper-twf .textwrap-zE1 .paragraph-K3K {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .textwrapper-twf .buttonwrap-dph {
  width: 32rem;
  height: 7.7rem;
  overflow: hidden;
  position: relative;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .textwrapper-twf .buttonwrap-dph .ctabutton-BLR {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #0d0d0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
}
.container-NHB .auto-group-fnof-NAh .screen-hero-section-GQV .rectangle-1-Fr5 {
  width: 92.6rem;
  height: 96rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu {
  box-sizing: border-box;
  padding: 12rem;
  width: 192rem;
  height: 88.8rem;
  position: absolute;
  left: 0;
  top: 96rem;
  overflow: hidden;
  background-color: #ffffff;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .heading-ggV {
  margin-bottom: 6.1rem;
  width: 106rem;
  overflow: hidden;
  position: relative;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .heading-ggV .headingwrapper-S9s {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 8.7rem;
  overflow: hidden;
  position: relative;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #191919;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .heading-ggV .paragraph-i7P {
  max-width: 78.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq {
  width: 100%;
  height: 33rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .featurelist-NBw {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding: 2.4rem 3.5rem 5.2rem 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .featurelist-NBw .heading-suP {
  margin-bottom: 1.1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .featurelist-NBw .paragraph-bKb {
  max-width: 35.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .featurelist-6XF {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 2.3rem 2.4rem;
  width: 41.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .featurelist-6XF .heading-pTF {
  margin-bottom: 1.1rem;
  max-width: 24.9rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .featurelist-6XF .paragraph-Ye9 {
  max-width: 33.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj {
  box-sizing: border-box;
  padding-left: 0.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj .featurelist-c8D {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding: 2.4rem 2.8rem 5.2rem 2.4rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj .featurelist-c8D .heading-LK7 {
  margin: 0rem 7.4rem 1.1rem 0rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj .featurelist-c8D .paragraph-SN9 {
  max-width: 36.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj .featurelist-wZo {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 2.3rem 2.4rem;
  width: 41.7rem;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj .featurelist-wZo .heading-eUD {
  margin-bottom: 1.1rem;
  max-width: 25.3rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-fnof-NAh .screen-feature-list-with-headlines-NQu .wrapper-Dpq .auto-group-lbux-ruj .featurelist-wZo .paragraph-kn9 {
  max-width: 33.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-feature-list-with-headlines-EBX {
  box-sizing: border-box;
  padding: 12rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .heading-xdK {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 14rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .heading-xdK .headingwrapper-hL1 {
  margin-bottom: 2.4rem;
  width: 106rem;
  height: 8.7rem;
  overflow: hidden;
  position: relative;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #191919;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .heading-xdK .paragraph-a8u {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 {
  width: 100%;
  height: 26.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .featurelist-rcD {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 2.3rem 2.4rem;
  width: 41.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .featurelist-rcD .heading-BeV {
  margin-bottom: 1rem;
  max-width: 24.9rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .featurelist-rcD .paragraph-7o3 {
  max-width: 29.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu {
  box-sizing: border-box;
  padding-left: 0.4rem;
  height: 100%;
  display: flex;
  column-gap: 0.4rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-Lvh {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 2.3rem 2.4rem;
  width: 41.7rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-Lvh .heading-57b {
  margin: 0rem 4.9rem 1.1rem 0rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-Lvh .paragraph-ZoT {
  margin-right: 3.5rem;
  max-width: 33.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-frV {
  box-sizing: border-box;
  padding: 2.4rem 3.6rem 2.3rem 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-frV .heading-CrR {
  margin-bottom: 1.1rem;
  max-width: 20.8rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-frV .paragraph-w3K {
  max-width: 35.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-quP {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 2.3rem 2.4rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-quP .heading-z1b {
  margin: 0rem 2.1rem 1.1rem 0rem;
  max-width: 34.8rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .screen-feature-list-with-headlines-EBX .wrapper-uS5 .auto-group-xe8d-cUu .featurelist-quP .paragraph-hRo {
  max-width: 36.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh {
  box-sizing: border-box;
  padding: 12rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .textwrapper-9Yh {
  margin-bottom: 4.8rem;
  width: 81.6rem;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .textwrapper-9Yh .heading-tWH {
  margin-bottom: 1.1rem;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #191919;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-feedback-list-zvh .textwrapper-9Yh .paragraph-Rm7 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 18.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT {
  box-sizing: border-box;
  padding-right: 1.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-b3K {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem;
  height: 13.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-b3K .photowrapper-Kzu {
  margin: 0rem 1.6rem 4.2rem 0rem;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.04rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-b3K .infowrapper-afw {
  box-sizing: border-box;
  padding-top: 0.6rem;
  width: 44rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-b3K .infowrapper-afw .fullname-7vm {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-b3K .infowrapper-afw .feedback-Si9 {
  max-width: 42.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-YWH {
  box-sizing: border-box;
  padding: 1.6rem;
  height: 16.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-YWH .photowrapper-621 {
  margin-right: 1.6rem;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.04rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-YWH .infowrapper-ZAV {
  box-sizing: border-box;
  padding-top: 0.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-YWH .infowrapper-ZAV .fullname-Vpq {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .auto-group-hfbj-EyT .card-YWH .infowrapper-ZAV .feedback-2Jy {
  max-width: 44rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .card-LKf {
  box-sizing: border-box;
  padding: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .card-LKf .photowrapper-VCZ {
  margin-right: 1.6rem;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.04rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .card-LKf .infowrapper-ydX {
  box-sizing: border-box;
  padding-top: 0.6rem;
  width: 44rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .card-LKf .infowrapper-ydX .fullname-XQ9 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-k7vu-89j .card-LKf .infowrapper-ydX .feedback-sD7 {
  max-width: 43.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ {
  margin: 0 27.4rem;
  width: calc(100% - 54.8rem);
  height: 18.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-KL1 {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-KL1 .photowrapper-sMX {
  margin-right: 1.6rem;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.04rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-KL1 .infowrapper-9K3 {
  box-sizing: border-box;
  padding-top: 0.6rem;
  width: 44.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-KL1 .infowrapper-9K3 .fullname-gZs {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-KL1 .infowrapper-9K3 .feedback-RGZ {
  max-width: 42.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-jo3 {
  box-sizing: border-box;
  padding: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-jo3 .photowrapper-VXK {
  margin-right: 1.6rem;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.04rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-jo3 .infowrapper-b4Z {
  box-sizing: border-box;
  padding-top: 0.6rem;
  width: 44.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-jo3 .infowrapper-b4Z .fullname-jwT {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-feedback-list-zvh .wrapper-Aih .auto-group-jzgr-NvZ .card-jo3 .infowrapper-b4Z .feedback-5kR {
  max-width: 44.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-knud-ahB {
  width: 100%;
  height: 235rem;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf {
  box-sizing: border-box;
  padding: 12rem 12rem 12rem 12rem;
  width: 192rem;
  height: 67.7rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .textwrapper-EWq {
  margin-bottom: 4.8rem;
  width: 81.6rem;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .textwrapper-EWq .heading-mWm {
  margin-bottom: 1.1rem;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #191919;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .textwrapper-EWq .paragraph-WDT {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 {
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-zPX {
  box-sizing: border-box;
  padding: 3.2rem 3.2rem 3.1rem 3.2rem;
  width: 55.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-zPX .infowrapper-KRo {
  margin-bottom: 6rem;
  width: 100%;
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-zPX .infowrapper-KRo .heading-U3o {
  margin-bottom: 1.1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-zPX .infowrapper-KRo .paragraph-znq {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-zPX .price-Xnm {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-ZzM {
  box-sizing: border-box;
  padding: 3.2rem 3.2rem 3.1rem 3.2rem;
  width: 55.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-ZzM .infowrapper-u2d {
  margin-bottom: 6rem;
  width: 100%;
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-ZzM .infowrapper-u2d .heading-3uX {
  margin-bottom: 1.1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-ZzM .infowrapper-u2d .paragraph-n6R {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-ZzM .price-ZFb {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-5Uq {
  box-sizing: border-box;
  padding: 3.2rem 3.2rem 3.1rem 3.2rem;
  width: 55.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-5Uq .infowrapper-CZT {
  margin-bottom: 6rem;
  width: 100%;
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-5Uq .infowrapper-CZT .heading-Xbj {
  margin-bottom: 1.1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-5Uq .infowrapper-CZT .paragraph-22h {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-card-list-with-headline-Kuf .wrapper-Ev9 .recommendedcard-5Uq .price-iRK {
  margin-right: 8.7rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH {
  box-sizing: border-box;
  padding: 12rem;
  width: 192rem;
  height: 167.3rem;
  position: absolute;
  left: 0;
  top: 67.7rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .textwrapper-ipd {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 8.7rem;
  overflow: hidden;
  position: relative;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #191919;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP {
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-AAq {
  box-sizing: border-box;
  padding-bottom: 3.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-AAq .header-5ob {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-AAq .header-5ob .frame-31-zvZ {
  margin: 0.9rem 0;
  width: 155.2rem;
  height: calc(100% - 1.8rem);
  overflow: hidden;
  position: relative;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.152rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-AAq .header-5ob .photowrapper-Hem {
  width: 6.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.12rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-AAq .answerwrap-vxd {
  margin-left: 3.2rem;
  width: 91.3rem;
  height: 3rem;
  overflow: hidden;
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-Bdf {
  box-sizing: border-box;
  padding-bottom: 3.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-Bdf .header-idb {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-Bdf .header-idb .frame-31-3vm {
  margin: 0.9rem 0;
  width: 155.2rem;
  height: calc(100% - 1.8rem);
  overflow: hidden;
  position: relative;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.152rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-Bdf .header-idb .photowrapper-x29 {
  width: 6.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.12rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-Bdf .answerwrap-pa9 {
  margin-left: 3.2rem;
  width: 117.2rem;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-Bdf .answerwrap-pa9 .answer-mEV {
  max-width: 117.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-g6Z {
  box-sizing: border-box;
  padding-bottom: 3.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-g6Z .header-dGh {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-g6Z .header-dGh .frame-31-Zg9 {
  margin: 0.9rem 0;
  width: 155.2rem;
  height: calc(100% - 1.8rem);
  overflow: hidden;
  position: relative;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.152rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-g6Z .header-dGh .photowrapper-GaZ {
  width: 6.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.12rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-g6Z .answerwrap-kkd {
  margin-left: 3.2rem;
  width: 120rem;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-g6Z .answerwrap-kkd .answer-hfs {
  max-width: 120rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-D8R {
  box-sizing: border-box;
  padding-bottom: 3.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-D8R .header-m9w {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-D8R .header-m9w .frame-31-He5 {
  margin: 0.9rem 0;
  width: 155.2rem;
  height: calc(100% - 1.8rem);
  overflow: hidden;
  position: relative;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.152rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-D8R .header-m9w .photowrapper-zYV {
  width: 6.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.12rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-D8R .answerwrap-fuX {
  margin-left: 3.2rem;
  width: 114.9rem;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-D8R .answerwrap-fuX .answer-2EH {
  max-width: 114.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-KDP {
  box-sizing: border-box;
  padding-bottom: 3.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-KDP .header-4wf {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  height: 12.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-KDP .header-4wf .frame-31-oPT {
  margin: 0.9rem 0;
  width: 155.2rem;
  height: calc(100% - 1.8rem);
  overflow: hidden;
  position: relative;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.152rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-KDP .header-4wf .photowrapper-79F {
  width: 6.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.12rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 6rem;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-KDP .answerwrap-ySM {
  margin-left: 3.2rem;
  width: 118rem;
  height: 8.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .auto-group-knud-ahB .screen-faq-CrH .wrapper-DmP .cardwrapper-KDP .answerwrap-ySM .answer-7oT {
  max-width: 118rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-contacts-with-form-owB {
  box-sizing: border-box;
  padding: 12rem;
  width: 100%;
  height: 104.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh {
  margin: 22.9rem 4.8rem 22.9rem 0rem;
  width: 81.6rem;
  height: calc(100% - 45.8rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .headingwrapper-TF3 {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 8.7rem;
  overflow: hidden;
  position: relative;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.288rem;
  color: #191919;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq {
  margin-bottom: 6.4rem;
  width: 100%;
  height: 9.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX {
  box-sizing: border-box;
  padding-right: 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX .contentwrapper-Ef7 {
  margin-right: 2.4rem;
  width: 25.6rem;
  height: 6.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX .contentwrapper-Ef7 .contacttype-NWR {
  margin-bottom: 0.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX .contentwrapper-Ef7 .contactdata-uWM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX .contentwrapper-SmB {
  width: 25.6rem;
  height: 6.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX .contentwrapper-SmB .contacttype-na9 {
  margin-bottom: 0.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .auto-group-6ghk-VhX .contentwrapper-SmB .contactdata-vRT {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .contentwrapper-Fid {
  width: 25.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .contentwrapper-Fid .contacttype-Ctm {
  margin-bottom: 0.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .wrapper-kzq .contentwrapper-Fid .contactdata-wbT {
  max-width: 25.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .buttonwrap-ULV {
  width: 40.8rem;
  height: 7.7rem;
  overflow: hidden;
  position: relative;
}
.container-NHB .screen-contacts-with-form-owB .textwrapper-wGh .buttonwrap-ULV .ctabutton-2N1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  border-radius: 1rem;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm {
  box-sizing: border-box;
  padding: 4.9rem 4.8rem;
  width: 81.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .headingwrapper-dMo {
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2125;
  letter-spacing: -0.192rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b {
  width: 100%;
  height: 8.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b .field-wrapper-t2q {
  margin-right: 1rem;
  width: 35.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b .field-wrapper-t2q .frame-26-2eq {
  margin-bottom: 0.8rem;
  width: 5rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.128rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b .field-wrapper-t2q .smallfield-XLh {
  box-sizing: border-box;
  padding: 1.8rem 2.4rem 1.7rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b .field-wrapper-p4u {
  width: 35.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b .field-wrapper-p4u .frame-27-yCh {
  margin-bottom: 0.8rem;
  width: 7.8rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.128rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .colwrapper-w7b .field-wrapper-p4u .smallfield-fbK {
  box-sizing: border-box;
  padding: 1.8rem 2.4rem 1.7rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-2-8zh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-2-8zh .frame-28-hH7 {
  margin-bottom: 0.8rem;
  width: 3.7rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.128rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-2-8zh .smallfield-zX7 {
  box-sizing: border-box;
  padding: 1.8rem 2.4rem 1.7rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-3-52m {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-3-52m .frame-29-dKB {
  margin-bottom: 0.8rem;
  width: 7.3rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.128rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-3-52m .smallfield-vJH {
  box-sizing: border-box;
  padding: 1.8rem 2.4rem 1.7rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: -0.08rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-4-ocy {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-4-ocy .frame-30-MeV {
  margin-bottom: 0.8rem;
  width: 10.2rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.128rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .frame-4-ocy .bigfield-rbF {
  width: 100%;
  height: 15.6rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .screen-contacts-with-form-owB .formwrapper-XJm .ctabutton-zSZ {
  width: 100%;
  height: 7.7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.container-NHB .chesneylogo-removebg-preview-1-FtH {
  width: 66.6rem;
  height: 37.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
